body {
    background: lightpink;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment { 
    background: lavender;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.assignment img {
    width: 200px;
    border: 2px solid lightskyblue;
    margin-right:20px;
}

h1 {
    color: lightblue;
    text-align: center;
}

a {
    text-decoration:none;
    color: darkslateblue;
}
